@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
h2, h3, p {
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

main {
  background: #333333;
}

.header_nav_container {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}
.header_nav_container ul {
  display: flex;
}
.header_nav_container ul li, .header_nav_container ul a {
  display: inline-block;
  font-weight: normal;
  padding: 0.728rem;
  color: #1d1d1d;
  text-decoration: none;
}
.header_nav_container ul li img, .header_nav_container ul a img {
  width: 30px;
}
.header_nav_container .logo, .header_nav_container img {
  width: 180px;
}

section .banner {
  width: 100%;
  height: 70vh;
  background-color: #f5f5f5;
  background-image: url("https://gcontent.robertsonmarketing.com/store/20160512512/assets/themes/theme1_en/images/home/aug19/puffer_blanket_82522.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
section .banner div {
  max-width: 50%;
  position: relative;
  top: 15rem;
  right: -5rem;
}
section .banner button {
  background: #1a73e9;
  text-align: center;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 10px 35px;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
section .banner button:hover {
  background: rgba(51, 51, 51, 0.5137254902);
}
section h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12vh;
  background: #ffffff;
}
section p {
  margin: 10px 0 10px 0;
}

aside {
  background: #333333;
  width: 100%;
  height: 13vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
aside img {
  padding: 0 0 0 20px;
  width: 120px;
}

.homeshopcards {
  width: 100%;
  height: 90vh;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homeshopcards .card {
  background: #f5f5f5;
  width: 23%;
  height: 75%;
  border-radius: 2px;
}
.homeshopcards .card hr {
  margin: none;
  width: 99.7%;
  height: 14px;
  background: rgba(0, 255, 64, 0.281);
}
.homeshopcards .card a, .homeshopcards .card img {
  max-width: 100%;
  max-height: 100%;
  width: 100% !important;
}
.homeshopcards .card p {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
  min-width: 50%;
  text-align: center;
}
.homeshopcards .card hr {
  border-radius: 6px;
}
.homeshopcards .card:nth-child(1) hr {
  background: rgb(255, 174, 0);
}
.homeshopcards .card:nth-child(2) hr {
  background: rgb(255, 153, 0);
}
.homeshopcards .card:nth-child(3) hr {
  background: rgb(255, 145, 0);
}
.homeshopcards .card:nth-child(4) hr {
  background: rgb(255, 145, 0);
}
.homeshopcards h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}
.homeshopcards p {
  padding: 20px;
}/*# sourceMappingURL=style.css.map */