<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin-style.css">
    <title>Document</title>
</head>

<body>
    <main>

        <header>
            <nav class="header_nav_container">
                <div>
                    <a href="/main.html" class="logo">
                        <img width="254" src="/img/image.png" alt="LEEGA">
                    </a>
                </div>
            </nav>
            <div class="dashboardlist">
                <ul>
                    <li><a href="">Dashboard 1</a></li>
                    <li><a href="">Dashboard 2</a></li>
                    <li><a href="">Dashboard 3</a></li>
                    <li><a href="">Dashboard 4</a></li>
                    <li><a href="">Dashboard 5</a></li>
                </ul>
            </div>
        </header>
        <section>

            <div id="dashboards">
                <iFrame src="https://leega.cloud.looker.com/embed/dashboards/65"></iFrame>
            </div>
          
        </section>
        <aside class="ads">
            <div class="ads-iten">
                <img src="" alt="">
            </div>
            <footer>
                <img width="254" src="/img/image.png" alt="LEEGA">
            </footer>
        </aside>

    </main>
</body>

</html>