<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login-style.css">
    <title>Document</title>
</head>

<body>
    <main>

        <header>
            <nav class="header_nav_container">
                <div>
                    <a href="/main.html" class="logo">
                        <img width="254" src="/img/image.png" alt="LEEGA">
                    </a>
                </div>
            </nav>
        </header>
        <section>

            <div class="homeform">
                <h2>Bem vindo a MatchTI</h2>
                <p>Lorem ipsum, dolor sit amet consectetur a.</p>
                <form action="" method="GET">
                    <label for="">Email</label>
                    <br>
                    <input class="input-login" type="email">
                    <br>
                    <label for="">Password</label>
                    <br>
                    <input class="input-login" type="password">
                </form>
                
                <button class="btn-login" href="">Entrar</button>
            </div>

        </section>
        <aside class="ads">
            <div class="ads-iten">
                <img src="" alt="">
            </div>
            <footer>
                <img width="254" src="/img/image.png" alt="LEEGA">
            </footer>
        </aside>

    </main>
</body>

</html>