<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
</head>

<body>
    <main>

        <header>
            <nav class="header_nav_container">
                <div class="homenavlist">
                    <ul>
                        <li><a href="">Inicio</a></li>

                    </ul>
                </div>
                <div>
                    <a href="" class="logo">
                        <img width="254" src="/public/img/image.png" alt="LEEGA">
                    </a>
                </div>
                <div class="homenavlist">
                    <ul>
                        <li><a href="http://"><img src="/public/img/carrinho-de-compras.png" alt="" srcset=""></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section>

            <div class="banner">
                <div>
                    <h3>Looker Web</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <button>Shop Now</button>
                </div>
            </div> 

            <h2>Shopping Leega</h2>

            <div class="homeshopcards">
                <div class="card">
                    <hr>
                    <h3>Looker</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing</p>
                </div>
                <div class="card">
                    <hr>
                    <h3>Looker</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing</p>
                </div>
                <div class="card">
                    <hr>
                    <h3>Looker</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing</p>
                </div>
                <div class="card">
                    <hr>
                    <h3>Looker</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing</p>
                </div>
            </div>

        </section>
        <aside class="ads">
            <div class="ads-iten">
                <img src="" alt="">
            </div>
            <footer>
                <img width="254" src="/public/img/image.png" alt="LEEGA">
            </footer>
        </aside>

    </main>
</body>

</html>